/* MARGIN TOP */

.mt-1 {
    margin-top: var(--gap-1);
}
.mt-2 {
    margin-top: var(--gap-2);
}
.mt-3 {
    margin-top: var(--gap-3);
}
.mt-4 {
    margin-top: var(--gap-4);
}
.mt-5 {
    margin-top: var(--gap-5);
}

/* MARGIN BOTTOM */

.mb-1 {
    margin-bottom: var(--gap-1);
}
.mb-2 {
    margin-bottom: var(--gap-2);
}
.mb-3 {
    margin-bottom: var(--gap-3);
}
.mb-4 {
    margin-bottom: var(--gap-4);
}
.mb-5 {
    margin-bottom: var(--gap-5);
}

/* MARGIN LEFT */

.ml-1 {
    margin-left: var(--gap-1);
}
.ml-2 {
    margin-left: var(--gap-2);
}
.ml-3 {
    margin-left: var(--gap-3);
}
.ml-4 {
    margin-left: var(--gap-4);
}
.ml-5 {
    margin-left: var(--gap-5);
}

/* MARGIN RIGHT */

.mr-1 {
    margin-right: var(--gap-1);
}
.mr-2 {
    margin-right: var(--gap-2);
}
.mr-3 {
    margin-right: var(--gap-3);
}
.mr-4 {
    margin-right: var(--gap-4);
}
.mr-5 {
    margin-right: var(--gap-5);
}

/* MARGIN TOP AND BOTTOM */

.my-1 {
    margin-top: var(--gap-1);
    margin-bottom: var(--gap-1);
}
.my-2 {
    margin-top: var(--gap-2);
    margin-bottom: var(--gap-2);}
.my-3 {
    margin-top: var(--gap-3);
    margin-bottom: var(--gap-3);}
.my-4 {
    margin-top: var(--gap-4);
    margin-bottom: var(--gap-4);}
.my-5 {
    margin-top: var(--gap-5);
    margin-bottom: var(--gap-5);
}