$navbar-height: 58px;

nav {
    height: $navbar-height;
    background-color: $aux-2;
    z-index: 10000;
    .container {
        background: $aux-2;
        display: flex;
        justify-content: space-between;
        height: 100%;
        .logo {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            p {
                color: $color-1;
                letter-spacing: 0.2rem;
                font-weight: 500;
                font-size: 1.4rem;
            }
        }
        ul {
            display: flex;
            list-style: none;
            li {
                color: $color-th;
                font-size: 1.2rem;
                font-weight: 400;
                padding: $gap-2 $gap-3;
                &::before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    background: $gradient-2;
                    border-radius: $br-1;
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    transition: 0.3s all ease;
                }
            }
            li:hover {
                cursor: pointer;
                &::before {
                    opacity: 1;
                }
            }
        }
        ul.list-nav-2 {
            li:nth-child(2) {
                position: absolute !important;
                left: 0 !important;
            }
        }
        ul.list-nav-1 {
            background: $aux-2;
            z-index: -1;
            flex-direction: column;
            width: 100%;
            position: absolute;
            top: $navbar-height;
            transform: translateY(calc(-100% - #{$navbar-height}));
            right: 0;
            transition: 0.3s all ease;
            li:nth-last-child(1), li:nth-last-child(2) {
                display: none;
            }
        }
        ul.list-nav-1.show {
            transform: translateY(0);
        }
    }
}

@media (min-width: $bp-md) {
    nav {
        .container {
            display: flex;
            justify-content: space-between;
            .logo {
                display: flex;
                align-items: center;
                justify-content: center;
                p {
                    color: $color-1;
                    letter-spacing: 0.2rem;
                    font-weight: 500;
                    font-size: 1.4rem;
                }
            }
            ul.list-nav-2 {
                display: none;
            }
            ul.list-nav-1 {
                z-index: 1;
                background: transparent;
                transform: translateY(0);
                position: relative;
                width: fit-content;
                top: 0;
                display: flex;
                flex-direction: row;
                list-style: none;
                li:nth-last-child(1), li:nth-last-child(2) {
                    display: block;
                }
            }

        }
    } 
}
