@media (min-width: $bp-lg) {
    .container {
        max-width: 920px;
    }

    $bubble-size: 140px;
    .bubble {
        width: $bubble-size;
        height: $bubble-size;
    }
    .bubblesGrid {
        grid-template-columns: repeat(auto-fit, minmax(#{$bubble-size}, 1fr));
    }
    .contactMeGrid {
        display: grid;
        gap: $gap-3;
        grid-template-columns: 1fr 2fr;
    }
    .titleSection {
        @include txt-title-1();
    }
}