nav ul {
    display: flex;
    list-style: none;
}
nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-bl);
    padding: var(--gap-1);
}
nav {
    background-color: var(--color-bl);
    position: relative;
    z-index: 100;
}
nav ul li {
    font-size: 1.1rem;
    font-weight: 400;
    padding: var(--gap-1) var(--gap-2);
    border-radius: var(--gap-1);
    color: var(--color-wh);
    transition: 300ms all ease;
}
nav ul li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
nav a {
    color: var(--color-wh);
    text-decoration: none;
}

nav ul.nav-list-mobile {
    display: none;
}

nav ul li.btn-theme.show {
    transform: scale(1);
}

nav ul li.btn-theme {
    transform: scale(0);
    transition: 300ms all ease;
}

nav ul li.btn-theme:last-child {
    position: absolute;
    right: 0;
}

nav ul.nav-list-desktop {
    position: relative;
}

@media (max-width: 768px) {
    ul.nav-list-desktop {
        background: var(--color-bl);
        z-index: -1;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 55px;
        transform: translateY(-100%);
        right: 0;
        transition: 0.3s all ease;
    }
    ul.nav-list-desktop.show {
        transform: translateY(0);
    }
    nav ul.nav-list-mobile {
        display: flex;
    }
}