.clr-th {
    color: $color-th;
}
.clr-th-1 {
    color: $color-th-a-1;
}

.clr-wh {
    color: white;
}
.clr-aux-1 {
    color: $aux-1;
}
.clr-aux-2 {
    color: $aux-2;
}
.clr-1 {
    color: $color-1;
}
.clr-2 {
    color: $color-2;
}

.bg-1 {
    background: $color-1;
}
.bg-2 {
    background: $color-2;
}